  body{
    margin: 0;
    font-family: 'Inconsolata', monospace;
    background-color: #2d2d37;
    cursor:crosshair;
}

.btext{
    color: #f9f3f4;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    line-height: 0.4em;
    font-family: 'Inconsolata'
}
h1{
    font-size: 50px;
    color: #f9f3f4;
}
.btn{
    color: #fff;
    text-decoration: none;
    height: auto;
    width: auto;
    font-family: smc;
    font-weight: 100;
    font-size: 50px;
}
.btn:hover{
    color: #b19295;
    font-size: 50px;
    cursor:cell;
}

.toggle {
    color: #fff;
    text-decoration: none;
    height: auto;
    width: auto;
    font-family: smc;
    font-weight: 100;
    font-size: 50px;
}

.toggle:hover {
    color: #b19295;
    font-size: 50px;
      cursor:cell;
}

#particles-js{
    background-color: #2d2d37;
    height: '100vh';
}
 @font-face{
 	font-family: 'smc';
 	src: url('SocialMediaCircled.otf');
 	font-style: normal;
 	font-weight: 100;
 }

 @font-face{
 	font-family: 'm';
 	src: url('inconsolata.otf');
 	font-style: normal;
 	font-weight: 100;
 }
 #return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
