  body{
    margin: 0;
    font-family: 'Inconsolata', monospace;
    background-color: #2d2d37;
    cursor:crosshair;
}
.btext{
    color: #f9f3f4;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    line-height: 0.4em;
    font-family: 'Inconsolata'
}
h1{
    font-size: 50px;
    color: #f9f3f4;
}
.btn{
    color: #fff;
    text-decoration: none;
    height: auto;
    width: auto;
    font-family: smc;
    font-weight: 100;
    font-size: 50px;
}
.btn:hover{
    color: #b19295;
    font-size: 50px;
    cursor:cell;
}


#particles-js{
    background-color: #2d2d37;
    height: '100vh';
}
 @font-face{
 	font-family: 'smc';
 	src: url('SocialMediaCircled.otf');
 	font-style: normal;
 	font-weight: 100;
 }

 @font-face{
 	font-family: 'm';
 	src: url('inconsolata.otf');
 	font-style: normal;
 	font-weight: 100;
 }

